{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "12" } }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "i18next-extract",
      {
        "outputPath": "src/static/locales/{{locale}}/{{ns}}.json",
        "keyAsDefaultValue": ["en"]
      }
    ]
  ]
}
